/*font declaration*/
@font-face {
  font-family: 'VTC Du Bois';
  src: url('/fonts/VTCDuBois-Regular.woff2') format('woff2'),
       url('/fonts/VTCDuBois-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'VTC Du Bois';
  src: url('/fonts/VTCDuBois-Bold.woff2') format('woff2'),
       url('/fonts/VTCDuBois-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
}

.webgl {
  position: relative;
  top: 0%;
  left: 0;
  z-index: -1;
  pointer-events: all;
}

body {
  display: flex;
  padding: 1.5625rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  background: #FFE8DA;
  overflow: hidden;
}

.body-container {
  display: flex;
  width: 75rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

h1.title {
  align-self: stretch;
  color: #654321;
  text-align: center;
  font-family: VTC Du Bois;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p.subtitle {
  height: 3.9375rem;
  flex: 1 0 0;
  color: #654321;
  text-align: center;
  font-family: Public Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.29375rem */
}

.content {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.stats {
  display: flex;
  padding-right: 3.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  min-width: 25rem;
}

.stat-header, .stat-line {
  color: #654321;
  text-align: center;
  font-family: "Public Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 1.725rem */
  margin-bottom: 0;
}

.race-stat {
  display: flex;
  flex-direction: row;
  padding: 0rem 1rem;
  align-items: center;
  gap: 1rem;
}

.color {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 6.25rem;
  border: 3px solid #654321;
}

.white-icon {
  background: #0a3354;
}

.hispanic-icon {
  background: #edbac2;
}

.black-icon {
  background: #67482a;
}

.native-icon {
  background: #b98d33;
}

.asian-icon {
  background: #9b3027;
}

.canvas-placeholder {
  height: 32rem;
  width: 10rem;
  flex: 1 0 0;
}

.menu-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.year {
  color: #654321;
  text-align: center;
  font-family: "VTC Du Bois";
  font-size: 7.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  min-width: 18rem;
}

.slider-container {
  display: flex;
  padding: 0rem 2.25rem;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  flex: 1 0 0;
}

.slider-text {
  margin: 0;
  align-self: stretch;
  color: #654321;
  font-family: "Public Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 1.29375rem */
}

input {
  margin: 0;
  --c: #654321; /* active color */
  --l: 0.5rem; /* line thickness*/
  --h: 1.5rem; /* thumb height */
  --w: 1.5rem; /* thumb width */
  
  align-self: stretch;
  height: var(--h); /* needed for Firefox*/
  --_c: color-mix(in srgb, var(--c), #000 var(--p,0%));
  -webkit-appearance :none;
  -moz-appearance :none;
  appearance :none;
  background: none;
  cursor: pointer;
  overflow: hidden;
}
input:focus-visible,
input:hover{
  --p: 25%;
}

/* chromium */
input[type="range" i]::-webkit-slider-thumb{
  height: var(--h);
  width: var(--w);
  background: var(--_c);
  border-image: linear-gradient(90deg,var(--_c) 50%,#654321 0) 0 1/calc(50% - var(--l)/2) 100vw/0 100vw;
  -webkit-appearance: none;
  appearance: none;
  transition: .3s;
}
/* Firefox */
input[type="range"]::-moz-range-thumb {
  height: var(--h);
  width: var(--w);
  background: var(--_c);
  border-image: linear-gradient(90deg,var(--_c) 50%,#ababab 0) 0 1/calc(50% - var(--l)/2) 100vw/0 100vw;
  -webkit-appearance: none;
  appearance: none;
  transition: .3s;
}
@supports not (color: color-mix(in srgb,red,red)) {
  input {
    --_c: var(--c);
  }
}

.menu {
  display: flex;
  width: 26.4375rem;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  gap: 0.3125rem;
  flex-wrap: wrap;
}

.menu-button {
  display: flex;
  width: 13rem;
  padding: 0.3125rem 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  border: 3px solid #654321;
  color: #654321;
  font-family: "VTC Du Bois";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.menu-button.active, .menu-button:hover {
  background: #654321;
  color: #FFE8DA;
}

p.footer {
  align-self: center;
  color: #654321;
  font-family: Public Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 0.8625rem */
}